In [20]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [21]:
with con:
  con.execute("""CREATE TABLE USER (
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER
      );
    """)

In [22]:
sql = 'INSERT INTO USER (id, name, age) values (?, ?, ?)'
data = [
    (1, "Alice", 21),
    (2, "Bob", 22),
    (3, "Chris", 23)
]

In [23]:
with con:
  con.executemany(sql, data)

In [24]:
with con:
  data = con.execute("SELECT * FROM USER WHERE age <= 22")
  for row in data:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

In [25]:
import pandas as pd
df_skill = pd.DataFrame({
  'user_id': [1,1,2,2,3,3,3],
  'skill': ['Network Security', 'Algorithm Development', 'Network Security', 'Java', 'Python', 'Data Science', 'Machine Learning']

})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        3                 Python
5        3           Data Science
6        3       Machine Learning

In [26]:
df_skill.to_sql('SKILL', con)
df = pd.read_sql('''
  SELECT s.user_id, u.name, u.age, s.skill
  FROM USER u LEFT JOIN SKILL s ON u.id = s.user_id
''', con)

df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        3  Chris   23           Data Science
5        3  Chris   23       Machine Learning
6        3  Chris   23                 Python

In [27]:
df.to_sql('USER_SKILL', con)

In [28]:
%load_ext sql
from random import uniform, choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

In [29]:
%sql sqlite:///demo.db3

'Connected: @demo.db3'

In [30]:
%sql SELECT date('now');

 * sqlite:///demo.db3
Done.

[('2022-11-09',)]

In [31]:
%sql SELECT date('now', 'start of month', '+1 month', '-1 day');

 * sqlite:///demo.db3
Done.

[('2022-11-30',)]

In [32]:
%%sql sqlite://
DROP TABLE IF EXISTS Temperature;
CREATE TABLE Temperature (Timestamp DATETIME NOT NULL, Temperature NUMERIC NOT NULL)

Done.
Done.

[]

In [33]:
%%sql sqlite://
CREATE UNIQUE INDEX idx_timestamp ON Temperature (Timestamp);

Done.

[]

In [34]:
def dt(days):
  return timedelta(days=days)

N_rows = 500
now = datetime.now()

for i in range(N_rows):
  timestamp = now - dt(days=(N_rows - i))
  temperature = uniform(18, 26)
  %sql INSERT INTO Temperature VALUES (:timestamp, :temperature);

 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.
 * sqlite:///demo.db3
1 rows affected.

In [35]:
%sql SELECT datetime(Timestamp) as Date, Temperature FROM Temperature LIMIT 5

 * sqlite:///demo.db3
Done.

[('2021-06-27 09:37:12', 21.438174184301673),
 ('2021-06-28 09:37:12', 21.292391332792654),
 ('2021-06-29 09:37:12', 18.747720624571176),
 ('2021-06-30 09:37:12', 23.863728490911143),
 ('2021-07-01 09:37:12', 24.22075717710579)]

In [36]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE Date <= '2022-06-31 14:21:45'

Done.

[('2021-06-27 09:37:12.549068', 21.438174184301673),
 ('2021-06-28 09:37:12.549068', 21.292391332792654),
 ('2021-06-29 09:37:12.549068', 18.747720624571176),
 ('2021-06-30 09:37:12.549068', 23.863728490911143),
 ('2021-07-01 09:37:12.549068', 24.22075717710579),
 ('2021-07-02 09:37:12.549068', 24.62626432226145),
 ('2021-07-03 09:37:12.549068', 18.90382805473366),
 ('2021-07-04 09:37:12.549068', 19.21256056181162),
 ('2021-07-05 09:37:12.549068', 21.74950928482786),
 ('2021-07-06 09:37:12.549068', 25.2516047886602),
 ('2021-07-07 09:37:12.549068', 21.134191814718495),
 ('2021-07-08 09:37:12.549068', 25.888767704315327),
 ('2021-07-09 09:37:12.549068', 25.277306505943706),
 ('2021-07-10 09:37:12.549068', 23.884245945085087),
 ('2021-07-11 09:37:12.549068', 20.79290182116416),
 ('2021-07-12 09:37:12.549068', 23.70585032191383),
 ('2021-07-13 09:37:12.549068', 23.899147688197587),
 ('2021-07-14 09:37:12.549068', 21.76758215415576),
 ('2021-07-15 09:37:12.549068', 20.09685931987952),
 ('2021-07-16 09:37:12.549068', 22.121165941866177),
 ('2021-07-17 09:37:12.549068', 22.62730764164897),
 ('2021-07-18 09:37:12.549068', 20.430034489774915),
 ('2021-07-19 09:37:12.549068', 18.71697744630797),
 ('2021-07-20 09:37:12.549068', 24.89216233497283),
 ('2021-07-21 09:37:12.549068', 19.523661048706337),
 ('2021-07-22 09:37:12.549068', 19.403186548989737),
 ('2021-07-23 09:37:12.549068', 19.063250499501304),
 ('2021-07-24 09:37:12.549068', 21.9909554700156),
 ('2021-07-25 09:37:12.549068', 19.513472963144864),
 ('2021-07-26 09:37:12.549068', 25.341723003921334),
 ('2021-07-27 09:37:12.549068', 20.996965914741995),
 ('2021-07-28 09:37:12.549068', 20.071287643041938),
 ('2021-07-29 09:37:12.549068', 25.20790616113837),
 ('2021-07-30 09:37:12.549068', 20.20867312289363),
 ('2021-07-31 09:37:12.549068', 24.524684647672718),
 ('2021-08-01 09:37:12.549068', 23.244565257600165),
 ('2021-08-02 09:37:12.549068', 18.34591906440764),
 ('2021-08-03 09:37:12.549068', 20.283235103134437),
 ('2021-08-04 09:37:12.549068', 23.04532019976058),
 ('2021-08-05 09:37:12.549068', 18.50395656381702),
 ('2021-08-06 09:37:12.549068', 24.380466989747756),
 ('2021-08-07 09:37:12.549068', 25.85704983424374),
 ('2021-08-08 09:37:12.549068', 22.164127354027436),
 ('2021-08-09 09:37:12.549068', 20.133868866294776),
 ('2021-08-10 09:37:12.549068', 25.143016890173875),
 ('2021-08-11 09:37:12.549068', 25.80873382553783),
 ('2021-08-12 09:37:12.549068', 25.974349077635388),
 ('2021-08-13 09:37:12.549068', 21.855373249964874),
 ('2021-08-14 09:37:12.549068', 24.52688690688305),
 ('2021-08-15 09:37:12.549068', 25.100407517390607),
 ('2021-08-16 09:37:12.549068', 23.446561903968814),
 ('2021-08-17 09:37:12.549068', 21.54185722385427),
 ('2021-08-18 09:37:12.549068', 22.882234012285554),
 ('2021-08-19 09:37:12.549068', 25.931293634981834),
 ('2021-08-20 09:37:12.549068', 25.47545007199493),
 ('2021-08-21 09:37:12.549068', 20.809638847341464),
 ('2021-08-22 09:37:12.549068', 21.553066521382334),
 ('2021-08-23 09:37:12.549068', 21.35495988882772),
 ('2021-08-24 09:37:12.549068', 23.16217930642028),
 ('2021-08-25 09:37:12.549068', 18.228284958069672),
 ('2021-08-26 09:37:12.549068', 25.49375525037547),
 ('2021-08-27 09:37:12.549068', 18.897421733851488),
 ('2021-08-28 09:37:12.549068', 19.67044397081731),
 ('2021-08-29 09:37:12.549068', 25.964262933617178),
 ('2021-08-30 09:37:12.549068', 22.488593872251517),
 ('2021-08-31 09:37:12.549068', 21.92783582698575),
 ('2021-09-01 09:37:12.549068', 25.300156271138732),
 ('2021-09-02 09:37:12.549068', 24.388673542630432),
 ('2021-09-03 09:37:12.549068', 18.40995139141261),
 ('2021-09-04 09:37:12.549068', 22.520687072491402),
 ('2021-09-05 09:37:12.549068', 22.063407462405575),
 ('2021-09-06 09:37:12.549068', 20.04751771019344),
 ('2021-09-07 09:37:12.549068', 18.622515120106733),
 ('2021-09-08 09:37:12.549068', 18.686660587670097),
 ('2021-09-09 09:37:12.549068', 25.770789213984965),
 ('2021-09-10 09:37:12.549068', 25.8211746986198),
 ('2021-09-11 09:37:12.549068', 24.689711771218953),
 ('2021-09-12 09:37:12.549068', 20.50164906686209),
 ('2021-09-13 09:37:12.549068', 22.656897448657173),
 ('2021-09-14 09:37:12.549068', 25.880718048954463),
 ('2021-09-15 09:37:12.549068', 25.999301682043736),
 ('2021-09-16 09:37:12.549068', 19.9168724184573),
 ('2021-09-17 09:37:12.549068', 24.45025973230462),
 ('2021-09-18 09:37:12.549068', 19.243892432389618),
 ('2021-09-19 09:37:12.549068', 21.86739074975997),
 ('2021-09-20 09:37:12.549068', 24.657709580734924),
 ('2021-09-21 09:37:12.549068', 23.956010844982984),
 ('2021-09-22 09:37:12.549068', 23.687825728452424),
 ('2021-09-23 09:37:12.549068', 20.49328937780121),
 ('2021-09-24 09:37:12.549068', 20.65262460869631),
 ('2021-09-25 09:37:12.549068', 22.277099939692054),
 ('2021-09-26 09:37:12.549068', 25.631127199250024),
 ('2021-09-27 09:37:12.549068', 22.424866305238332),
 ('2021-09-28 09:37:12.549068', 22.9779900904686),
 ('2021-09-29 09:37:12.549068', 23.15802354262409),
 ('2021-09-30 09:37:12.549068', 18.18895820773457),
 ('2021-10-01 09:37:12.549068', 18.22979293426026),
 ('2021-10-02 09:37:12.549068', 21.214587589414336),
 ('2021-10-03 09:37:12.549068', 23.858427051430425),
 ('2021-10-04 09:37:12.549068', 22.05658745516141),
 ('2021-10-05 09:37:12.549068', 25.28370419935789),
 ('2021-10-06 09:37:12.549068', 24.527140201349702),
 ('2021-10-07 09:37:12.549068', 22.34425893807751),
 ('2021-10-08 09:37:12.549068', 21.156641427942414),
 ('2021-10-09 09:37:12.549068', 22.987266354207915),
 ('2021-10-10 09:37:12.549068', 20.982666436870055),
 ('2021-10-11 09:37:12.549068', 19.873238965855357),
 ('2021-10-12 09:37:12.549068', 25.583213716060154),
 ('2021-10-13 09:37:12.549068', 23.224030801261176),
 ('2021-10-14 09:37:12.549068', 18.928048291982606),
 ('2021-10-15 09:37:12.549068', 24.96491532561254),
 ('2021-10-16 09:37:12.549068', 21.061705945332054),
 ('2021-10-17 09:37:12.549068', 21.115583492862093),
 ('2021-10-18 09:37:12.549068', 24.613596427372674),
 ('2021-10-19 09:37:12.549068', 19.29965542682968),
 ('2021-10-20 09:37:12.549068', 20.558890307387244),
 ('2021-10-21 09:37:12.549068', 23.208260375577552),
 ('2021-10-22 09:37:12.549068', 22.960619780420373),
 ('2021-10-23 09:37:12.549068', 18.07975628338569),
 ('2021-10-24 09:37:12.549068', 18.382030068277935),
 ('2021-10-25 09:37:12.549068', 20.977182201606567),
 ('2021-10-26 09:37:12.549068', 20.530727831490765),
 ('2021-10-27 09:37:12.549068', 25.01218406748245),
 ('2021-10-28 09:37:12.549068', 24.600610687314152),
 ('2021-10-29 09:37:12.549068', 21.36705516852599),
 ('2021-10-30 09:37:12.549068', 18.479186164690045),
 ('2021-10-31 09:37:12.549068', 25.501228694674612),
 ('2021-11-01 09:37:12.549068', 19.93196387447373),
 ('2021-11-02 09:37:12.549068', 18.275124308254227),
 ('2021-11-03 09:37:12.549068', 24.844366965038724),
 ('2021-11-04 09:37:12.549068', 25.075994809570165),
 ('2021-11-05 09:37:12.549068', 22.258721311261667),
 ('2021-11-06 09:37:12.549068', 19.062689891483775),
 ('2021-11-07 09:37:12.549068', 19.60564883520031),
 ('2021-11-08 09:37:12.549068', 23.247314339287602),
 ('2021-11-09 09:37:12.549068', 22.64482322810679),
 ('2021-11-10 09:37:12.549068', 21.992004411906724),
 ('2021-11-11 09:37:12.549068', 20.67954476294603),
 ('2021-11-12 09:37:12.549068', 20.859521069185085),
 ('2021-11-13 09:37:12.549068', 21.382766649677485),
 ('2021-11-14 09:37:12.549068', 25.962480969726624),
 ('2021-11-15 09:37:12.549068', 21.37923551581661),
 ('2021-11-16 09:37:12.549068', 18.688375909637987),
 ('2021-11-17 09:37:12.549068', 23.788065007314017),
 ('2021-11-18 09:37:12.549068', 22.77025755891246),
 ('2021-11-19 09:37:12.549068', 21.02061664021849),
 ('2021-11-20 09:37:12.549068', 20.629675707896222),
 ('2021-11-21 09:37:12.549068', 20.061129113501984),
 ('2021-11-22 09:37:12.549068', 25.05716190978945),
 ('2021-11-23 09:37:12.549068', 24.315056201728286),
 ('2021-11-24 09:37:12.549068', 23.18525929322358),
 ('2021-11-25 09:37:12.549068', 20.21857582117305),
 ('2021-11-26 09:37:12.549068', 18.64277135439887),
 ('2021-11-27 09:37:12.549068', 20.435827727053614),
 ('2021-11-28 09:37:12.549068', 20.17898036552205),
 ('2021-11-29 09:37:12.549068', 23.077032358651334),
 ('2021-11-30 09:37:12.549068', 23.497966451850015),
 ('2021-12-01 09:37:12.549068', 19.6760473627596),
 ('2021-12-02 09:37:12.549068', 23.649355144604304),
 ('2021-12-03 09:37:12.549068', 25.956021483358505),
 ('2021-12-04 09:37:12.549068', 18.948787683699912),
 ('2021-12-05 09:37:12.549068', 24.162661222562082),
 ('2021-12-06 09:37:12.549068', 19.350553545099622),
 ('2021-12-07 09:37:12.549068', 21.954281373607046),
 ('2021-12-08 09:37:12.549068', 22.68009306074415),
 ('2021-12-09 09:37:12.549068', 23.890139845925006),
 ('2021-12-10 09:37:12.549068', 23.294424785211376),
 ('2021-12-11 09:37:12.549068', 25.58999074833724),
 ('2021-12-12 09:37:12.549068', 22.6839438508292),
 ('2021-12-13 09:37:12.549068', 24.603237580725626),
 ('2021-12-14 09:37:12.549068', 24.72945923638827),
 ('2021-12-15 09:37:12.549068', 25.115972336248262),
 ('2021-12-16 09:37:12.549068', 22.774209281311286),
 ('2021-12-17 09:37:12.549068', 21.309479469985344),
 ('2021-12-18 09:37:12.549068', 24.350656931599676),
 ('2021-12-19 09:37:12.549068', 22.301961114016216),
 ('2021-12-20 09:37:12.549068', 21.58531684244737),
 ('2021-12-21 09:37:12.549068', 23.123449404173684),
 ('2021-12-22 09:37:12.549068', 23.48667315238619),
 ('2021-12-23 09:37:12.549068', 24.230818567876494),
 ('2021-12-24 09:37:12.549068', 22.47889412567747),
 ('2021-12-25 09:37:12.549068', 25.50413352299851),
 ('2021-12-26 09:37:12.549068', 21.23746933307061),
 ('2021-12-27 09:37:12.549068', 19.278412428315157),
 ('2021-12-28 09:37:12.549068', 19.391249396224335),
 ('2021-12-29 09:37:12.549068', 23.983053606587898),
 ('2021-12-30 09:37:12.549068', 23.73285890679279),
 ('2021-12-31 09:37:12.549068', 23.59426705114705),
 ('2022-01-01 09:37:12.549068', 22.8124925233989),
 ('2022-01-02 09:37:12.549068', 19.414538405825787),
 ('2022-01-03 09:37:12.549068', 25.098204709066906),
 ('2022-01-04 09:37:12.549068', 25.55534200648232),
 ('2022-01-05 09:37:12.549068', 21.044666122844614),
 ('2022-01-06 09:37:12.549068', 22.94229796568668),
 ('2022-01-07 09:37:12.549068', 20.94821107748283),
 ('2022-01-08 09:37:12.549068', 19.355975316370966),
 ('2022-01-09 09:37:12.549068', 19.487833761002282),
 ('2022-01-10 09:37:12.549068', 19.703575586855273),
 ('2022-01-11 09:37:12.549068', 24.34049279014867),
 ('2022-01-12 09:37:12.549068', 18.653233678845048),
 ('2022-01-13 09:37:12.549068', 22.831258625965273),
 ('2022-01-14 09:37:12.549068', 23.857088283040405),
 ('2022-01-15 09:37:12.549068', 23.262985298462294),
 ('2022-01-16 09:37:12.549068', 21.67322570845565),
 ('2022-01-17 09:37:12.549068', 23.67117100606785),
 ('2022-01-18 09:37:12.549068', 23.55833705681409),
 ('2022-01-19 09:37:12.549068', 25.58988427635237),
 ('2022-01-20 09:37:12.549068', 23.152689667438434),
 ('2022-01-21 09:37:12.549068', 20.790911972491347),
 ('2022-01-22 09:37:12.549068', 21.47836594353084),
 ('2022-01-23 09:37:12.549068', 25.05312630909396),
 ('2022-01-24 09:37:12.549068', 23.67067763143179),
 ('2022-01-25 09:37:12.549068', 20.662820531226586),
 ('2022-01-26 09:37:12.549068', 20.809640191965507),
 ('2022-01-27 09:37:12.549068', 24.15251407668519),
 ('2022-01-28 09:37:12.549068', 23.02564289615542),
 ('2022-01-29 09:37:12.549068', 25.451075236777832),
 ('2022-01-30 09:37:12.549068', 25.0318612282805),
 ('2022-01-31 09:37:12.549068', 19.384868621212874),
 ('2022-02-01 09:37:12.549068', 22.872977247135513),
 ('2022-02-02 09:37:12.549068', 22.332976846198996),
 ('2022-02-03 09:37:12.549068', 18.850543983189823),
 ('2022-02-04 09:37:12.549068', 22.50355589844887),
 ('2022-02-05 09:37:12.549068', 21.638604734722833),
 ('2022-02-06 09:37:12.549068', 24.66265105299309),
 ('2022-02-07 09:37:12.549068', 22.463378442576087),
 ('2022-02-08 09:37:12.549068', 21.792911644242643),
 ('2022-02-09 09:37:12.549068', 21.84088904540007),
 ('2022-02-10 09:37:12.549068', 24.55660430820913),
 ('2022-02-11 09:37:12.549068', 24.142849613776526),
 ('2022-02-12 09:37:12.549068', 20.758998287554913),
 ('2022-02-13 09:37:12.549068', 20.79255508139986),
 ('2022-02-14 09:37:12.549068', 25.359258849077204),
 ('2022-02-15 09:37:12.549068', 23.33522377946104),
 ('2022-02-16 09:37:12.549068', 24.953979852686977),
 ('2022-02-17 09:37:12.549068', 22.932051893108024),
 ('2022-02-18 09:37:12.549068', 19.69368698337838),
 ('2022-02-19 09:37:12.549068', 18.63410721712845),
 ('2022-02-20 09:37:12.549068', 20.58937299068532),
 ('2022-02-21 09:37:12.549068', 19.992819132649764),
 ('2022-02-22 09:37:12.549068', 25.84455049084256),
 ('2022-02-23 09:37:12.549068', 24.254517656097995),
 ('2022-02-24 09:37:12.549068', 24.85905471618304),
 ('2022-02-25 09:37:12.549068', 22.666174277771407),
 ('2022-02-26 09:37:12.549068', 22.278029425744872),
 ('2022-02-27 09:37:12.549068', 24.496851241318197),
 ('2022-02-28 09:37:12.549068', 19.74686677575537),
 ('2022-03-01 09:37:12.549068', 23.567060530143813),
 ('2022-03-02 09:37:12.549068', 19.300214882565175),
 ('2022-03-03 09:37:12.549068', 25.475668320681486),
 ('2022-03-04 09:37:12.549068', 19.993589418046398),
 ('2022-03-05 09:37:12.549068', 23.54676233630293),
 ('2022-03-06 09:37:12.549068', 19.342214801931053),
 ('2022-03-07 09:37:12.549068', 22.71958959230593),
 ('2022-03-08 09:37:12.549068', 22.84279583089288),
 ('2022-03-09 09:37:12.549068', 20.912133044064376),
 ('2022-03-10 09:37:12.549068', 22.87960747998342),
 ('2022-03-11 09:37:12.549068', 24.671813685678664),
 ('2022-03-12 09:37:12.549068', 20.06696770929456),
 ('2022-03-13 09:37:12.549068', 24.63921787674825),
 ('2022-03-14 09:37:12.549068', 18.34533761844753),
 ('2022-03-15 09:37:12.549068', 20.822238312017355),
 ('2022-03-16 09:37:12.549068', 19.30693164362771),
 ('2022-03-17 09:37:12.549068', 24.11416470739747),
 ('2022-03-18 09:37:12.549068', 23.18929334632153),
 ('2022-03-19 09:37:12.549068', 23.10902956476237),
 ('2022-03-20 09:37:12.549068', 20.67933543355307),
 ('2022-03-21 09:37:12.549068', 23.20038257189809),
 ('2022-03-22 09:37:12.549068', 23.58781257648588),
 ('2022-03-23 09:37:12.549068', 25.244607675970883),
 ('2022-03-24 09:37:12.549068', 24.34471536178232),
 ('2022-03-25 09:37:12.549068', 20.244779062207417),
 ('2022-03-26 09:37:12.549068', 24.702272342032412),
 ('2022-03-27 09:37:12.549068', 22.180874394467963),
 ('2022-03-28 09:37:12.549068', 25.229297845130358),
 ('2022-03-29 09:37:12.549068', 19.143193821960935),
 ('2022-03-30 09:37:12.549068', 19.238626439562886),
 ('2022-03-31 09:37:12.549068', 18.44055221524477),
 ('2022-04-01 09:37:12.549068', 20.83068232336381),
 ('2022-04-02 09:37:12.549068', 25.299251345773445),
 ('2022-04-03 09:37:12.549068', 21.623656589542332),
 ('2022-04-04 09:37:12.549068', 22.25806083454381),
 ('2022-04-05 09:37:12.549068', 18.014503079418276),
 ('2022-04-06 09:37:12.549068', 24.576079429621057),
 ('2022-04-07 09:37:12.549068', 23.17633374673175),
 ('2022-04-08 09:37:12.549068', 25.26696797851694),
 ('2022-04-09 09:37:12.549068', 20.5488402730953),
 ('2022-04-10 09:37:12.549068', 19.363109605213836),
 ('2022-04-11 09:37:12.549068', 24.933597178721634),
 ('2022-04-12 09:37:12.549068', 21.694675415575663),
 ('2022-04-13 09:37:12.549068', 19.053875312430556),
 ('2022-04-14 09:37:12.549068', 22.20877089129391),
 ('2022-04-15 09:37:12.549068', 20.633388091701732),
 ('2022-04-16 09:37:12.549068', 23.667015378881484),
 ('2022-04-17 09:37:12.549068', 24.223130797421273),
 ('2022-04-18 09:37:12.549068', 22.666141231329053),
 ('2022-04-19 09:37:12.549068', 23.320916498509472),
 ('2022-04-20 09:37:12.549068', 18.344665795601586),
 ('2022-04-21 09:37:12.549068', 23.028488189376894),
 ('2022-04-22 09:37:12.549068', 20.006079717706125),
 ('2022-04-23 09:37:12.549068', 18.419159155806508),
 ('2022-04-24 09:37:12.549068', 18.437519173258682),
 ('2022-04-25 09:37:12.549068', 25.28812402753898),
 ('2022-04-26 09:37:12.549068', 21.728210108766866),
 ('2022-04-27 09:37:12.549068', 19.79872863547666),
 ('2022-04-28 09:37:12.549068', 23.276746361422727),
 ('2022-04-29 09:37:12.549068', 24.459615556795292),
 ('2022-04-30 09:37:12.549068', 22.30126109337067),
 ('2022-05-01 09:37:12.549068', 19.679512932583993),
 ('2022-05-02 09:37:12.549068', 18.7631896279492),
 ('2022-05-03 09:37:12.549068', 21.084993173368435),
 ('2022-05-04 09:37:12.549068', 25.74822770387925),
 ('2022-05-05 09:37:12.549068', 19.749602246932703),
 ('2022-05-06 09:37:12.549068', 22.678062375611056),
 ('2022-05-07 09:37:12.549068', 19.11726754754921),
 ('2022-05-08 09:37:12.549068', 21.240328836214168),
 ('2022-05-09 09:37:12.549068', 19.535268518150716),
 ('2022-05-10 09:37:12.549068', 24.827814183989453),
 ('2022-05-11 09:37:12.549068', 23.992168884199142),
 ('2022-05-12 09:37:12.549068', 19.66627045836676),
 ('2022-05-13 09:37:12.549068', 18.978085426782915),
 ('2022-05-14 09:37:12.549068', 23.04986413667221),
 ('2022-05-15 09:37:12.549068', 18.202296978555005),
 ('2022-05-16 09:37:12.549068', 24.58912737582666),
 ('2022-05-17 09:37:12.549068', 23.8630357029445),
 ('2022-05-18 09:37:12.549068', 22.401874635244134),
 ('2022-05-19 09:37:12.549068', 20.870229543478256),
 ('2022-05-20 09:37:12.549068', 22.78296590723704),
 ('2022-05-21 09:37:12.549068', 25.793508534277997),
 ('2022-05-22 09:37:12.549068', 20.687630154105722),
 ('2022-05-23 09:37:12.549068', 25.151030015232195),
 ('2022-05-24 09:37:12.549068', 19.791027575821737),
 ('2022-05-25 09:37:12.549068', 19.37478313439061),
 ('2022-05-26 09:37:12.549068', 21.026307623729085),
 ('2022-05-27 09:37:12.549068', 22.078619963550036),
 ('2022-05-28 09:37:12.549068', 22.535355274189843),
 ('2022-05-29 09:37:12.549068', 23.009103006771497),
 ('2022-05-30 09:37:12.549068', 18.88305137199394),
 ('2022-05-31 09:37:12.549068', 19.504365880522876),
 ('2022-06-01 09:37:12.549068', 19.113694682953277),
 ('2022-06-02 09:37:12.549068', 24.63243369802482),
 ('2022-06-03 09:37:12.549068', 25.390624389062292),
 ('2022-06-04 09:37:12.549068', 25.381391620997068),
 ('2022-06-05 09:37:12.549068', 22.909874437462104),
 ('2022-06-06 09:37:12.549068', 22.764861806344953),
 ('2022-06-07 09:37:12.549068', 18.27048438887206),
 ('2022-06-08 09:37:12.549068', 20.185510476486144),
 ('2022-06-09 09:37:12.549068', 22.19944645207595),
 ('2022-06-10 09:37:12.549068', 18.358752071113294),
 ('2022-06-11 09:37:12.549068', 21.73029562495389),
 ('2022-06-12 09:37:12.549068', 22.04094132558913),
 ('2022-06-13 09:37:12.549068', 20.232961227458567),
 ('2022-06-14 09:37:12.549068', 20.38890761824218),
 ('2022-06-15 09:37:12.549068', 25.73934508587925),
 ('2022-06-16 09:37:12.549068', 23.80518795566581),
 ('2022-06-17 09:37:12.549068', 21.24193988719627),
 ('2022-06-18 09:37:12.549068', 25.591367525115352),
 ('2022-06-19 09:37:12.549068', 25.90177295063608),
 ('2022-06-20 09:37:12.549068', 23.075232507314283),
 ('2022-06-21 09:37:12.549068', 20.58861067423371),
 ('2022-06-22 09:37:12.549068', 24.285582075149602),
 ('2022-06-23 09:37:12.549068', 25.632442213715812),
 ('2022-06-24 09:37:12.549068', 22.37759468216314),
 ('2022-06-25 09:37:12.549068', 18.80886682352911),
 ('2022-06-26 09:37:12.549068', 25.68900373719046),
 ('2022-06-27 09:37:12.549068', 25.893938204195535),
 ('2022-06-28 09:37:12.549068', 20.87951745604895),
 ('2022-06-29 09:37:12.549068', 23.54369239268402),
 ('2022-06-30 09:37:12.549068', 24.786045242538425)]

In [37]:
%%sql sqlite://
SELECT Timestamp as Date, Temperature
FROM Temperature
WHERE CAST(strftime('%Y', Date) as Int) = 2021

Done.

[('2021-06-27 09:37:12.549068', 21.438174184301673),
 ('2021-06-28 09:37:12.549068', 21.292391332792654),
 ('2021-06-29 09:37:12.549068', 18.747720624571176),
 ('2021-06-30 09:37:12.549068', 23.863728490911143),
 ('2021-07-01 09:37:12.549068', 24.22075717710579),
 ('2021-07-02 09:37:12.549068', 24.62626432226145),
 ('2021-07-03 09:37:12.549068', 18.90382805473366),
 ('2021-07-04 09:37:12.549068', 19.21256056181162),
 ('2021-07-05 09:37:12.549068', 21.74950928482786),
 ('2021-07-06 09:37:12.549068', 25.2516047886602),
 ('2021-07-07 09:37:12.549068', 21.134191814718495),
 ('2021-07-08 09:37:12.549068', 25.888767704315327),
 ('2021-07-09 09:37:12.549068', 25.277306505943706),
 ('2021-07-10 09:37:12.549068', 23.884245945085087),
 ('2021-07-11 09:37:12.549068', 20.79290182116416),
 ('2021-07-12 09:37:12.549068', 23.70585032191383),
 ('2021-07-13 09:37:12.549068', 23.899147688197587),
 ('2021-07-14 09:37:12.549068', 21.76758215415576),
 ('2021-07-15 09:37:12.549068', 20.09685931987952),
 ('2021-07-16 09:37:12.549068', 22.121165941866177),
 ('2021-07-17 09:37:12.549068', 22.62730764164897),
 ('2021-07-18 09:37:12.549068', 20.430034489774915),
 ('2021-07-19 09:37:12.549068', 18.71697744630797),
 ('2021-07-20 09:37:12.549068', 24.89216233497283),
 ('2021-07-21 09:37:12.549068', 19.523661048706337),
 ('2021-07-22 09:37:12.549068', 19.403186548989737),
 ('2021-07-23 09:37:12.549068', 19.063250499501304),
 ('2021-07-24 09:37:12.549068', 21.9909554700156),
 ('2021-07-25 09:37:12.549068', 19.513472963144864),
 ('2021-07-26 09:37:12.549068', 25.341723003921334),
 ('2021-07-27 09:37:12.549068', 20.996965914741995),
 ('2021-07-28 09:37:12.549068', 20.071287643041938),
 ('2021-07-29 09:37:12.549068', 25.20790616113837),
 ('2021-07-30 09:37:12.549068', 20.20867312289363),
 ('2021-07-31 09:37:12.549068', 24.524684647672718),
 ('2021-08-01 09:37:12.549068', 23.244565257600165),
 ('2021-08-02 09:37:12.549068', 18.34591906440764),
 ('2021-08-03 09:37:12.549068', 20.283235103134437),
 ('2021-08-04 09:37:12.549068', 23.04532019976058),
 ('2021-08-05 09:37:12.549068', 18.50395656381702),
 ('2021-08-06 09:37:12.549068', 24.380466989747756),
 ('2021-08-07 09:37:12.549068', 25.85704983424374),
 ('2021-08-08 09:37:12.549068', 22.164127354027436),
 ('2021-08-09 09:37:12.549068', 20.133868866294776),
 ('2021-08-10 09:37:12.549068', 25.143016890173875),
 ('2021-08-11 09:37:12.549068', 25.80873382553783),
 ('2021-08-12 09:37:12.549068', 25.974349077635388),
 ('2021-08-13 09:37:12.549068', 21.855373249964874),
 ('2021-08-14 09:37:12.549068', 24.52688690688305),
 ('2021-08-15 09:37:12.549068', 25.100407517390607),
 ('2021-08-16 09:37:12.549068', 23.446561903968814),
 ('2021-08-17 09:37:12.549068', 21.54185722385427),
 ('2021-08-18 09:37:12.549068', 22.882234012285554),
 ('2021-08-19 09:37:12.549068', 25.931293634981834),
 ('2021-08-20 09:37:12.549068', 25.47545007199493),
 ('2021-08-21 09:37:12.549068', 20.809638847341464),
 ('2021-08-22 09:37:12.549068', 21.553066521382334),
 ('2021-08-23 09:37:12.549068', 21.35495988882772),
 ('2021-08-24 09:37:12.549068', 23.16217930642028),
 ('2021-08-25 09:37:12.549068', 18.228284958069672),
 ('2021-08-26 09:37:12.549068', 25.49375525037547),
 ('2021-08-27 09:37:12.549068', 18.897421733851488),
 ('2021-08-28 09:37:12.549068', 19.67044397081731),
 ('2021-08-29 09:37:12.549068', 25.964262933617178),
 ('2021-08-30 09:37:12.549068', 22.488593872251517),
 ('2021-08-31 09:37:12.549068', 21.92783582698575),
 ('2021-09-01 09:37:12.549068', 25.300156271138732),
 ('2021-09-02 09:37:12.549068', 24.388673542630432),
 ('2021-09-03 09:37:12.549068', 18.40995139141261),
 ('2021-09-04 09:37:12.549068', 22.520687072491402),
 ('2021-09-05 09:37:12.549068', 22.063407462405575),
 ('2021-09-06 09:37:12.549068', 20.04751771019344),
 ('2021-09-07 09:37:12.549068', 18.622515120106733),
 ('2021-09-08 09:37:12.549068', 18.686660587670097),
 ('2021-09-09 09:37:12.549068', 25.770789213984965),
 ('2021-09-10 09:37:12.549068', 25.8211746986198),
 ('2021-09-11 09:37:12.549068', 24.689711771218953),
 ('2021-09-12 09:37:12.549068', 20.50164906686209),
 ('2021-09-13 09:37:12.549068', 22.656897448657173),
 ('2021-09-14 09:37:12.549068', 25.880718048954463),
 ('2021-09-15 09:37:12.549068', 25.999301682043736),
 ('2021-09-16 09:37:12.549068', 19.9168724184573),
 ('2021-09-17 09:37:12.549068', 24.45025973230462),
 ('2021-09-18 09:37:12.549068', 19.243892432389618),
 ('2021-09-19 09:37:12.549068', 21.86739074975997),
 ('2021-09-20 09:37:12.549068', 24.657709580734924),
 ('2021-09-21 09:37:12.549068', 23.956010844982984),
 ('2021-09-22 09:37:12.549068', 23.687825728452424),
 ('2021-09-23 09:37:12.549068', 20.49328937780121),
 ('2021-09-24 09:37:12.549068', 20.65262460869631),
 ('2021-09-25 09:37:12.549068', 22.277099939692054),
 ('2021-09-26 09:37:12.549068', 25.631127199250024),
 ('2021-09-27 09:37:12.549068', 22.424866305238332),
 ('2021-09-28 09:37:12.549068', 22.9779900904686),
 ('2021-09-29 09:37:12.549068', 23.15802354262409),
 ('2021-09-30 09:37:12.549068', 18.18895820773457),
 ('2021-10-01 09:37:12.549068', 18.22979293426026),
 ('2021-10-02 09:37:12.549068', 21.214587589414336),
 ('2021-10-03 09:37:12.549068', 23.858427051430425),
 ('2021-10-04 09:37:12.549068', 22.05658745516141),
 ('2021-10-05 09:37:12.549068', 25.28370419935789),
 ('2021-10-06 09:37:12.549068', 24.527140201349702),
 ('2021-10-07 09:37:12.549068', 22.34425893807751),
 ('2021-10-08 09:37:12.549068', 21.156641427942414),
 ('2021-10-09 09:37:12.549068', 22.987266354207915),
 ('2021-10-10 09:37:12.549068', 20.982666436870055),
 ('2021-10-11 09:37:12.549068', 19.873238965855357),
 ('2021-10-12 09:37:12.549068', 25.583213716060154),
 ('2021-10-13 09:37:12.549068', 23.224030801261176),
 ('2021-10-14 09:37:12.549068', 18.928048291982606),
 ('2021-10-15 09:37:12.549068', 24.96491532561254),
 ('2021-10-16 09:37:12.549068', 21.061705945332054),
 ('2021-10-17 09:37:12.549068', 21.115583492862093),
 ('2021-10-18 09:37:12.549068', 24.613596427372674),
 ('2021-10-19 09:37:12.549068', 19.29965542682968),
 ('2021-10-20 09:37:12.549068', 20.558890307387244),
 ('2021-10-21 09:37:12.549068', 23.208260375577552),
 ('2021-10-22 09:37:12.549068', 22.960619780420373),
 ('2021-10-23 09:37:12.549068', 18.07975628338569),
 ('2021-10-24 09:37:12.549068', 18.382030068277935),
 ('2021-10-25 09:37:12.549068', 20.977182201606567),
 ('2021-10-26 09:37:12.549068', 20.530727831490765),
 ('2021-10-27 09:37:12.549068', 25.01218406748245),
 ('2021-10-28 09:37:12.549068', 24.600610687314152),
 ('2021-10-29 09:37:12.549068', 21.36705516852599),
 ('2021-10-30 09:37:12.549068', 18.479186164690045),
 ('2021-10-31 09:37:12.549068', 25.501228694674612),
 ('2021-11-01 09:37:12.549068', 19.93196387447373),
 ('2021-11-02 09:37:12.549068', 18.275124308254227),
 ('2021-11-03 09:37:12.549068', 24.844366965038724),
 ('2021-11-04 09:37:12.549068', 25.075994809570165),
 ('2021-11-05 09:37:12.549068', 22.258721311261667),
 ('2021-11-06 09:37:12.549068', 19.062689891483775),
 ('2021-11-07 09:37:12.549068', 19.60564883520031),
 ('2021-11-08 09:37:12.549068', 23.247314339287602),
 ('2021-11-09 09:37:12.549068', 22.64482322810679),
 ('2021-11-10 09:37:12.549068', 21.992004411906724),
 ('2021-11-11 09:37:12.549068', 20.67954476294603),
 ('2021-11-12 09:37:12.549068', 20.859521069185085),
 ('2021-11-13 09:37:12.549068', 21.382766649677485),
 ('2021-11-14 09:37:12.549068', 25.962480969726624),
 ('2021-11-15 09:37:12.549068', 21.37923551581661),
 ('2021-11-16 09:37:12.549068', 18.688375909637987),
 ('2021-11-17 09:37:12.549068', 23.788065007314017),
 ('2021-11-18 09:37:12.549068', 22.77025755891246),
 ('2021-11-19 09:37:12.549068', 21.02061664021849),
 ('2021-11-20 09:37:12.549068', 20.629675707896222),
 ('2021-11-21 09:37:12.549068', 20.061129113501984),
 ('2021-11-22 09:37:12.549068', 25.05716190978945),
 ('2021-11-23 09:37:12.549068', 24.315056201728286),
 ('2021-11-24 09:37:12.549068', 23.18525929322358),
 ('2021-11-25 09:37:12.549068', 20.21857582117305),
 ('2021-11-26 09:37:12.549068', 18.64277135439887),
 ('2021-11-27 09:37:12.549068', 20.435827727053614),
 ('2021-11-28 09:37:12.549068', 20.17898036552205),
 ('2021-11-29 09:37:12.549068', 23.077032358651334),
 ('2021-11-30 09:37:12.549068', 23.497966451850015),
 ('2021-12-01 09:37:12.549068', 19.6760473627596),
 ('2021-12-02 09:37:12.549068', 23.649355144604304),
 ('2021-12-03 09:37:12.549068', 25.956021483358505),
 ('2021-12-04 09:37:12.549068', 18.948787683699912),
 ('2021-12-05 09:37:12.549068', 24.162661222562082),
 ('2021-12-06 09:37:12.549068', 19.350553545099622),
 ('2021-12-07 09:37:12.549068', 21.954281373607046),
 ('2021-12-08 09:37:12.549068', 22.68009306074415),
 ('2021-12-09 09:37:12.549068', 23.890139845925006),
 ('2021-12-10 09:37:12.549068', 23.294424785211376),
 ('2021-12-11 09:37:12.549068', 25.58999074833724),
 ('2021-12-12 09:37:12.549068', 22.6839438508292),
 ('2021-12-13 09:37:12.549068', 24.603237580725626),
 ('2021-12-14 09:37:12.549068', 24.72945923638827),
 ('2021-12-15 09:37:12.549068', 25.115972336248262),
 ('2021-12-16 09:37:12.549068', 22.774209281311286),
 ('2021-12-17 09:37:12.549068', 21.309479469985344),
 ('2021-12-18 09:37:12.549068', 24.350656931599676),
 ('2021-12-19 09:37:12.549068', 22.301961114016216),
 ('2021-12-20 09:37:12.549068', 21.58531684244737),
 ('2021-12-21 09:37:12.549068', 23.123449404173684),
 ('2021-12-22 09:37:12.549068', 23.48667315238619),
 ('2021-12-23 09:37:12.549068', 24.230818567876494),
 ('2021-12-24 09:37:12.549068', 22.47889412567747),
 ('2021-12-25 09:37:12.549068', 25.50413352299851),
 ('2021-12-26 09:37:12.549068', 21.23746933307061),
 ('2021-12-27 09:37:12.549068', 19.278412428315157),
 ('2021-12-28 09:37:12.549068', 19.391249396224335),
 ('2021-12-29 09:37:12.549068', 23.983053606587898),
 ('2021-12-30 09:37:12.549068', 23.73285890679279),
 ('2021-12-31 09:37:12.549068', 23.59426705114705)]

In [38]:
%%sql sqlite://
SELECT strftime('%Y', Timestamp) as Year,
        AVG(Temperature) AS MEAN_TMP,
        MAX(Temperature) AS MAX_TMP,
        MIN(Temperature) AS MIN_TMP
FROM Temperature
GROUP BY strftime('%Y', Timestamp)

Done.

[('2021', 22.292049430052675, 25.999301682043736, 18.07975628338569),
 ('2022', 22.18261499412625, 25.944796416688714, 18.014503079418276)]

In [39]:
ts = %sql SELECT datetime(Timestamp) as date, Temperature FROM Temperature
df = ts.DataFrame()
df.set_index("date", inplace = True)
df.index = pd.to_datetime(df.index)
df.index

 * sqlite:///demo.db3
Done.

DatetimeIndex(['2021-06-27 09:37:12', '2021-06-28 09:37:12',
               '2021-06-29 09:37:12', '2021-06-30 09:37:12',
               '2021-07-01 09:37:12', '2021-07-02 09:37:12',
               '2021-07-03 09:37:12', '2021-07-04 09:37:12',
               '2021-07-05 09:37:12', '2021-07-06 09:37:12',
               ...
               '2022-10-30 09:37:12', '2022-10-31 09:37:12',
               '2022-11-01 09:37:12', '2022-11-02 09:37:12',
               '2022-11-03 09:37:12', '2022-11-04 09:37:12',
               '2022-11-05 09:37:12', '2022-11-06 09:37:12',
               '2022-11-07 09:37:12', '2022-11-08 09:37:12'],
              dtype='datetime64[ns]', name='date', length=500, freq=None)